-siteName = "My Website"
-domain = "www.example.com"

if title == ""
  -title = siteName
else
  -title = title + " - " + siteName

meta(charset="utf-8")
meta(http-equiv="Content-Language", content="ja")
base(href="/")

title #{title}
meta(name="description", content=`${description}`)

meta(property="og:title", content=`${title}`)
meta(property="og:type", content="website")
meta(property="og:url", content="http://"+`${domain}${url}`)
meta(property="og:description", content=`${description}`)
meta(property="og:site_name", content=`${siteName}`)
meta(property="og:image", content="http://"+`${domain}`+"/assets/images/og_image.png")
meta(property="og:locale", content="ja_JP")
meta(property="fb:app_id", content="")
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@')
meta(name='twitter:title', content='#{title}')
meta(name='twitter:description', content=`${description}`)
meta(name='twitter:image', content="http://"+`${domain}`+"/assets/images/og_image.png")
meta(name='twitter:url', content="http://"+`${domain}${url}`)
link(rel="shortcut icon", href="/assets/images/favicon.ico")
script.
  (function(){
    var _UA = navigator.userAgent;
    if (_UA.indexOf('iPhone') > -1 || _UA.indexOf('iPod') > -1 || _UA.indexOf('Android') > -1) {
      document.write('<link href="./assets/stylesheets/sp/style.css" rel="stylesheet" type="text/css">');
      document.write('<meta name="viewport" content="width=device-width">');
    }else{
      document.write('<link href="./assets/stylesheets/pc/style.css" rel="stylesheet" type="text/css">');
      document.write('<meta name="viewport" content="width=1024px">');
    }
  })();
script(src="/assets/javascripts/app.js" async)